.rightMenuText {
    color: rgb(129, 129, 129);
}

.userIcon{
    height: 40px;
}

@media all and (max-width:930px){
    .rightMenuSection{
        border-style: solid;
        border-width: 2px;
        border-color: rgb(126, 126, 126);
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        position: fixed;
        bottom: 10%;
        left: center;
    }

    .rightMenuText {
        color: rgb(129, 129, 129);
    }

    .newTwitter{
        font-size: 150%;
    }

    .responsiveHide{
        display: none;
    }
}