.postbarCont {
    margin: 2%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border-width: 1px;
    border-color: aliceblue;
}

.userIcon {
    width: 8%;
    height: 8%;
    border-radius: 50%;
    border: 4px solid rgb(29, 155, 240);
}

#inputBar {
    width: 85%;
    background-color: rgb(32, 47, 54);
    border: none;
    border-radius: 15px;
    padding: 1%;
}

#postButton {
    border-radius: 50px;
    padding: 2%;
    background-color: rgb(29, 155, 240);
    font-weight: 500;
    border-style: none;
    cursor: pointer;
}

.up-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2%;
    
    align-items: center;
}

.down-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    justify-content: flex-end;
}

@media all and (max-width:930px) {
    .userIcon {
        width: 8%;
        height: 8%;
        border-radius: 50%;
        border: 4px solid rgb(29, 155, 240);
    }
    
    #inputBar {
        width: 85%;
        background-color: rgb(32, 47, 54);
        border: none;
        border-radius: 15px;
        padding: 1%;
        align-items: center;
    }
    
}